@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --salmon: #FF7979;
    --green: #38CC8B;
    --purple: #5E54A4;
    --grey-blue: #3D3B48;
    --light-grey: #BAB7D4;
    --white: #ffffff;
    --border-default: #DEDEDE;

    --ff: 'Poppins', sans-serif;
    --fs-body: 1.6rem;
    --fw-r: 400;
    --fw-m: 500;
    --fw-sb: 600;
    --fw-b: 700;

    /* font-sizes small screen/large screen (ss/ls) */
    --ss-title: 2.8rem;
    --ls-title: 5rem;

    /* form related font-sizes */
    --form-body-s: 1.5rem;
    --form-input: 1.4rem;
    --form-terms: 1.1rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

  * {
    margin: 0;
    padding: 0;
}

  html {
    font-size: 62.5%;
}

  html, body {
    height: 100%;
}

  body {
    font-family: var(--ff);
    font-size: var(--fs-body);
    font-weight: var(--fw-r);
    line-height: 1.5;
}

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

  input, button, textarea, select {
    font: inherit;
}

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: url('../images/bg-intro-mobile.png') var(--salmon) center;
}

.container {
    max-width: min(144rem, 90%);
    margin-inline: auto;
}

.header {
    color: var(--white);
}

.header__text {
    max-width: 52rem;
}

.header__title {
    font-size: var(--ss-title);
    font-weight: --fw-b;
    margin-bottom: 2.4rem;
}

.header__description {
    font-weight: var(--fw-m);
    margin-bottom: 6.4rem;
}

.header__form {
    max-width: 54rem;
}

.form__trial-text {
    font-size: var(--form-body-s);
    background-color: var(--purple);
    padding: 1.8rem 6rem;
    border-radius: 10px;
    margin-bottom: 2.4rem;
    box-shadow: 0px 8px 3px 0px rgba(0, 0, 0, 0.25);
}

.form__trial-text span {
    font-weight: var(--fw-b);
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
    padding: 2.4rem;
}

input {
    font-size: var(--form-input);
    font-weight: var(--fw-sb);
    color: var(--grey-blue);
    padding: 1.4rem;
    outline: none;
    border: 1px solid var(--border-default);
    border-radius: 5px;
    width: 100%;
}

label {
    position: relative;
}

.error::before {
    content: "";
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    background-image: url('../images/icon-error.svg');
    background-repeat: no-repeat;    
}

.warning {
    border: 1px solid var(--salmon);
}

.warning::placeholder {
    color: var(--salmon);
}

label span {
    display: none;
}

.warning-msg {
    color: var(--salmon);
    font-size: var(--form-terms);
    display: flex;
    justify-content: end;
}

label:not(:last-child) {
    margin-bottom: 1.6rem;
}

input:focus {
    border: 1px solid var(--purple);
}

button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: var(--form-body-s);
    font-weight: var(--fw-sb);
    color: var(--white);
    cursor: pointer;
    border: none;
    margin-bottom: .8rem ;
    padding: 1.5rem 4.3rem;
    background-color: var(--green);
    border-radius: 5px;
    box-shadow: inset 0 -17px 0px -12px rgb(0 0 0 / 12%);
    transition: all .2s ease;
}

button:hover {
    background-color: #77E2B3;
}

.form__terms {
    display: block;
    font-weight: var(--fw-m);
    color: var(--light-grey);
    text-align: center;
}

.form__terms a{
    font-weight: var(--fw-b);
    color: var(--salmon);
}

@media (min-width: 1150px) {
    .header {
        display: flex;
        gap: 4.5rem;
    }

    .header__text {
        align-self: center;
    }

    .header__title {
        font-size: var(--ls-title);
        line-height: 1.2;
    }

    .form {
        padding: 4rem;
    }

    label:not(:last-child) {
        margin-bottom: 2rem;
    }
}